{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": [
    "ForEach",
    "AWS::Serverless-2016-10-31"
  ],
  "Description": "Setup SES email receiving with delivery to mailboxes in S3 and extaction of email attachments.",
  "Parameters": {
    "DomainNames": {
      "Type": "CommaDelimitedList",
      "Default": "foo.com, bar.com"
    },
    "EventBridgeRoleArn": {
      "Type": "String"
    },
    "Table": {
      "Type": "String"
    }
  },
  "Resources": {
    "Bucket": {
      "Type": "AWS::S3::Bucket",
      "Properties": {
        "NotificationConfiguration": {
          "EventBridgeConfiguration": {
            "EventBridgeEnabled": true
          }
        }
      }
    },
    "BucketPolicy": {
      "Type": "AWS::S3::BucketPolicy",
      "Properties": {
        "Bucket": { "Ref": "Bucket" },
        "PolicyDocument": {
          "Version":"2012-10-17",
          "Statement": [
            {
              "Sid":"AllowSESPuts",
              "Effect":"Allow",
              "Principal": {
                "Service":"ses.amazonaws.com"
              },
              "Action":"s3:PutObject",
              "Resource": { "Fn::Sub": "arn:aws:s3:::${Bucket}/*" },
              "Condition": {
                "StringEquals": {
                  "AWS:SourceAccount": { "Ref": "AWS::AccountId" }
                },
                "StringLike": {
                  "AWS:SourceArn": { "Fn::Sub": "arn:aws:ses:${AWS::Region}:${AWS::AccountId}:receipt-rule-set/*" }
                }
              }
            },
            {
              "Sid": "SslIsRequired",
              "Action": "s3:*",
              "Effect": "Deny",
              "Resource": [
                {
                  "Fn::Sub": "${Bucket.Arn}"
                },
                {
                  "Fn::Sub": "${Bucket.Arn}/*"
                }
              ],
              "Condition": {
                "Bool": {
                  "aws:SecureTransport": "false"
                }
              },
              "Principal": "*"
            }
          ]
        }
      }
    },
    "SesRuleSet": {
      "Type": "AWS::SES::ReceiptRuleSet",
      "Properties": {
        "RuleSetName": {
          "Ref": "AWS::StackName"
        }
      }
    },
    "DeliveryLambda": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Runtime": "dotnet8",
        "MemorySize": 1024,
        "Timeout": 12,
        "Handler": "email-delivery-lambda::Cppl.EmailDelivery.Function::FunctionHandler",
        "CodeUri": "../email-delivery-lambda",
        "Environment": {
          "Variables": {
            "TABLE_NAME": {
              "Ref": "Table"
            }
          }
        },
        "Policies": [
					"AWSLambdaBasicExecutionRole",
					{ 
						"DynamoDBCrudPolicy": {
							"TableName":  { "Fn::Sub": "${Table}" }
						}
					},
          {
            "S3CrudPolicy": {
							"BucketName":  { "Fn::Sub": "${Bucket}" }
            }
          }
        ]
      }
    },
    "StateMachine": {
      "Type": "AWS::Serverless::StateMachine",
      "Properties": {
        "DefinitionUri": "domain-email-delivery.asl.json",
        "DefinitionSubstitutions": {
          "DeliveryLambdaArn": {
            "Fn::Sub": "${DeliveryLambda.Arn}"
          },
          "OpenAiGatewayDomain": {
            "Fn::Sub": "${OpenAiGateway.Outputs.EndpointDomain}"
          },
          "TableName": {
            "Ref": "Table"
          }
        },
        "Policies": [
          {
            "Statement": [
              {
                "Effect": "Allow",
                "Action": "lambda:InvokeFunction",
                "Resource": { "Fn::Sub": "${DeliveryLambda.Arn}" }
              },
              {
                "Effect": "Allow",
                "Action": "events:PutEvents",
                "Resource": { "Fn::Sub": "arn:aws:events:${AWS::Region}:${AWS::AccountId}:event-bus/default" }
              },              {
                "Effect": "Allow",
                "Action": "execute-api:Invoke",
                "Resource": { "Fn::Sub": "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${OpenAiGateway.Outputs.ApiId}/v1/POST/chat/completions" }
              },
              {
                "Effect": "Allow",
                "Action": "events:PutEvent",
                "Resource": "*",
                "Condition": {
                  "StringEquals": {
                      "events:source": "email-delivery"
                  }
                }
              }
            ]
          },
          { 
            "DynamoDBWritePolicy": {
              "TableName":  { 
                "Ref": "Table" 
              }
            }
          }
        ]
      }
    },
    "EbRolePolicy": {
      "Type": "AWS::IAM::Policy",
      "Properties": {
        "Roles": [ { "Fn::Select": [ 1, { "Fn::Split": [ "/", { "Ref": "EventBridgeRoleArn" } ] } ] } ],    
        "PolicyName": { "Fn::Sub": "StartEmailDeliveryStateMachine-${AWS::Region}" },
        "PolicyDocument": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Effect": "Allow",
              "Action": [
                "states:StartExecution"
              ],
              "Resource": [
                {
                  "Fn::Sub": "${StateMachine.Arn}"
                }
              ]
            }
          ]
        }
      }
    },
    "EbRule": {
      "Type": "AWS::Events::Rule",
      "Properties": {
        "State": "ENABLED",
        "Targets": [
          {
            "Id": "EmailDeliveryStateMachine",
            "Arn": {
              "Fn::Sub": "${StateMachine.Arn}"
            },
            "RoleArn": { 
              "Ref" : "EventBridgeRoleArn" 
            }
          }
        ],
        "EventPattern": {
          "source": [
            "aws.s3"
          ],
          "detail-type": [
            "Object Created"
          ],
          "detail": {
            "bucket": {
              "name": [
                { "Ref": "Bucket" }
              ]
            },
            "object": {
              "key": [
                {
                  "prefix": "inbox/"
                }
              ]
            }
          }
        }
      }
    },

    "OpenAiGateway": {
      "Type": "AWS::Serverless::Application",
      "Properties": {
        "Location": "openai-gateway.template",
        "Tags": { "Name": { "Fn::Sub": "${AWS::StackName}" } }
      }
    },

    "Domain": {
      "Type": "AWS::Serverless::Application",
      "Properties": {
        "Parameters": {
          "DomainName": "%v",
          "BucketName": {
            "Ref": "Bucket"
          },
          "SesRuleSetName": {
            "Ref": "SesRuleSet"
          }
        },
        "Location": "domain-email-delivery.template",
        "Tags": { "Name": { "Fn::Sub": "${AWS::StackName}" } }
      },
      "ForEach": "DomainNames"
    }
  }
}